Teil1/Semesterarbeit_Parallelepid/.idea
Teil1/Semesterarbeit_Parallelepid/.ipynb_checkpoints
Teil1/Semesterarbeit_Parallelepid/__pycache__
Teil1/Semesterarbeit_Parallelepid/.DS_Store
Teil1/.DS_Store
Teil1/Gasche_Tobias.zip
Teil1/Teil1_Zentralprojektion_Gasche_Tobias.docx
Teil1/Teil1_Zentralprojektion_Gasche_Tobias.pdf
.DS_Store
